<h1>Edit Pictures</h1>
<p>
	<%= link_to "Back", @picture %>
</p>

<%= form_for @picture do |f| %>
	<p>
 		<%= f.label "artist" %>
 		<%= f.text_field "artist" %>
	</p>
	<p>
 		<%= f.label "title" %>
 		<%= f.text_field "title" %>
	</p>
	<p>
 		<%= f.label "url" %>
 		<%= f.text_field "url" %>
	</p>
	<p>
 		<%= submit_tag "Save" %>
	</p>
<% end %>