<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
<h1> <%= Picture.created_before(1.month.ago).count %> Pictures created one month ago</h1>


<h1>Pictures [<%= @pictures.length %>]</h1>
<%= link_to 'New Picture', "/pictures/new" %>
<% @pictures.each do |pic| %>
	<p><%= pic[:title] %>, <%= pic[:artist] %></p>
	<%= link_to image_tag(pic.url), "pictures/#{pic[:id]}" %>
<% end %>
