<h1>Add a picture</h1>
<%= form_tag "/pictures" do %>
	<p>
    	<%= label_tag "artist" %>
    	<%= text_field_tag "artist" %>
	</p>
	<p>
    	<%= label_tag "title" %>
    	<%= text_field_tag "title" %>
	</p>
	<p>
    	<%= label_tag "url" %>
    	<%= text_field_tag "url" %>
	</p>
	<p>
    	<%= submit_tag "Save" %>
	</p>
<% end %>